@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  background-color: #b294c583;
  font-family: 'Prompt', sans-serif;
  color:#2c181b;
}

.jumbotron {
  background-color: #c18aae;
}

h1 {
  font-weight: 900;
  font-size: 60px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

ul {
  font-size: 14px;
}

.employee-card {
  min-width: 275px;
  max-width: 325px;
  margin: 50px 25px;
  box-shadow: 5px 5px #343333;
}

.card-header {
  background-color:#c18aaeb6;
  height: 130px;
}
